body {
    background-color: #5280C5;
    color: #003366;
    /*background-image: url("../images/gradientblue.jpg");*/
    margin: 0;
}

#wrapper {

    background-color: #F0F0F0;
    min-width: 700px;
}

nav {
    color: #5280C5;
}

address {
    clear: left;
}

section {
    /*Configure a section element selector. Code style declarations that set left float, 30% width, */
    /*1em right margin, 1em bottom margin, 0 padding, #EAEAEA background color, and minimum height set to 200px.*/

    margin-right: 1em;
    margin-bottom: 1em;
    padding: 0;
    background-color: #EAEAEA;

}

/*Configure headings within the section element.
Add a new style rule for the section h3 descendant selector that sets .25em padding,*/
/*0 top margin, 0 bottom margin, 110% font size, and #AEC3E3 background color.*/
section h3 {
    padding: .25em;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 110%;
    background-color: #AEC3E3;
}

/*Configure paragraphs within the section element.*/
/*Add a new style rule for the section p descendant selector that sets top padding to 0, */
/*left padding to .25em, right padding to .25em, and bottom padding to .25em*/
section p {
    padding-top: 0;
    padding-left: .25em;
    padding-right: .25em;
    padding-bottom: .25em;
}

/*Configure hyperlinks in the header area.*/
/*Use descendant selectors to configure hyperlinks within the header element with no underline,*/
/*light (#F0F0F0) text color for the :link and :visited pseudo-classes, */
/*                and light blue (#AEC3E3) text color for the :hover pseudo-class.*/


header a:link {
    color: #F0F0F0;
    text-decoration: none;
}

header a:visited {
    color: #F0F0F0;
    text-decoration: none;
}

header a:hover {
    color: #AEC3E3;
    text-decoration: none;
}

/*.floatright {*/
/*    float: right;*/
/*    padding-left: 1em;*/
/*    padding-right: 1em;*/
/*}*/

nav a:link {
    color: #000066;
}

nav a:visited {
    color: #5280C5;
}

nav a:hover {
    color: #3262A3;
}

main {
    /*margin-left: 180px;*/
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid blue;
}

/*Edit the styles for the nav ul selector.*/
/*Configure this selector as a flex container with flex-direction set to column.*/
/*Set 0 margin, 0 padding, and 1.5em font size.*/
nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-size: 1.5em;
}

* {
    box-sizing: border-box;
}

/*Code styles for the nav li selector.*/
/*Set .5em top and bottom padding,*/
/*100% width, and a 1px solid bottom border.*/
li {
    padding-top: .5em;
    padding-bottom: .5em;
    border: solid 1px;
}


h1 {
    /*Code an h1 element selector.*/
    /*Configure style declarations for 3em font-size, 0.2em padding, and gray text shadow (#CCCCCC).*/
    font-size: 2em;
    padding: .2em;
    text-shadow: #cccccc;

}

#headerImg {
    line-height: 200%;
    text-indent: 1em;
    background-color: #000066;
    padding: 15px;
    color: #AEC3E3;
    font-family: Georgia, serif;
    background-image: url("../images/lilfish.gif");
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

h2 {
    font-size: 1.2em;
    text-shadow: 1px 1px 1px #777;
}


#vetList {
    list-style-type: none;
}

dt {
    color: #5280C5;
    font-size: 1.1em;
    font-weight: bold;
    font-family: Georgia, serif;
}

.category {
    color: #5380C5;
    font-weight: bold;
    font-family: Georgia, serif;
}

a {
    text-decoration: none;
}


footer {
    font-size: 1.0em;
    font-style: italic;
    text-align: center;
    background-color: #AEC3E3;
    /*margin-left: 180px;*/
    padding: 1em;
    clear: both;
}

#mobile {
    display: inline;
}

#desktop {
    display: none;
}

@media only screen and (min-width: 600px) {
    #headerImg {
        background-image: url("../images/bigfish.gif");
    }

    h1 {
        font-size: 3em;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
    }

    nav li {

        border: none;
    }

    #flow {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    section {
        min-width: 30%;
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    dl {
        display: flex;
        flex: 2;
    }

    img {
        display: flex;
        flex: 1;
    }

    #mobile {
        display: none;
    }

    #desktop {
        display: inline;
    }


}

@media only screen and (min-width: 1024px) {

    header {
        grid-area: header;
    }

    nav {
        grid-area: nav;
    }

    main {
        grid-area: main;
    }

    footer {
        grid-area: footer;
    }

    #wrapper {
        display: grid;
        grid-template:
                 "header  header"
                 "nav     main"
                 " nav    footer"
                 / 180px;
    }

    nav ul{
        display: flex;
        flex-direction: column;
    }




}